<%- include ('partials/navbar.ejs')%>
<%- include ('partials/header.ejs')%>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Cadastrar Clientes</h1>
        </div>
        <div class="card-body">
            <form method="POST" action="/clientes/new">
                <label>Nome do cliente:</label>
                <input type="text" name="nome" id="nome" placeholder="Insira o nome do cliente" class="form-control" required>
                <label>Endereço do cliente:</label>
                <input type="text" name="endereco" id="endereco" placeholder="Insira o endereço do cliente" class="form-control" required>
                <label>Cpf do cliente:</label>
                <input type="text" name="cpf" id="cpf" placeholder="Insira o cpf do cliente" class="form-control" required>                           
                <br>
                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
<div>
    <div>
        <div>
            
            </div>
            <br>
            <h1 class="listacliente">Lista de Clientes</h1>
        </div>
        <div>
            <table>
                <tr>
                    <td><img style="width: 50px; height: 50px;" src="imgs/sonic1.jpg"></td>
                    <td><img style="width: 50px; height: 50px;" src="imgs/sonic2.jpg"></td>
                    <td><img style="width: 50px; height: 50px;" src="imgs/sonic3.jpg"></td>
                    <td><img style="width: 50px; height: 50px;" src="imgs/sonic4.jpg"></td>
                </tr> 
            </table>
            <table>               
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome:</th>
                        <th>CPF:</th>
                        <th>Endereço:</th>
                        <th style="text-align: center;" colspan="2">Ações:</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% clientes.forEach((cliente) => { %>
                        <tr>
                            <th></th>
                            <td><%= cliente.nome %></td>
                            <td><%= cliente.cpf%></td>
                            <td><%= cliente.endereco%></td>
                            <td><a style="color:orange;" href="/clientes/edit/<%= cliente.id%>">Editar</a></td>
                            <td><a style="color:red;" href="/clientes/delete/<%= cliente.id%>">Excluir</a></td>
                                    
                        </tr>
                        <%})%>                   
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%- include ('partials/footer.ejs')%>