<%- include ('partials/navbar.ejs')%>
<%- include ('partials/header.ejs')%>

<div>
    <div>
        <div>
            <h1 class="listacliente">Lista de Clientes</h1>
        </div>
        <div >
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome:</th>
                        <th>CPF:</th>
                        <th>Endereço:</th>
                    </tr>
                </thead>
                <tbody>
                    <% cliente.forEach((cliente) => { %>
                        <tr>
                            <td><img src="<%= cliente.foto %>" width="200px"></td>
                            <td><%= cliente.nome %></td>
                            <td><%= cliente.cpf%></td>
                            <td><%= cliente.endereco%></td>
                                    
                        </tr>
                        <%})%>

                        
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs')%>