<%- include ('partials/navbar.ejs')%>
<%- include ('partials/header.ejs')%>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Alterar Pedido</h1>
            <hr>
            <form method="POST" action="/pedidos/update/<%=pedido.id%>">
                <label>Id do Pedido:</label>
                <input type="text" name="idPedido" id="idPedido" value="<%= pedido.idPedido%>" placeholder="Insira o id" class="form-control" required>
                <label>Preço do Pedido:</label>
                <input type="text" name="preco" id="preco" value="<%= pedido.preco%>"  placeholder="Insira o preço" class="form-control" required>
                <label>Cpf do pedido:</label>
                <input type="text" name="cpf" id="cpf" value="<%= pedido.cpf%>"  placeholder="Insira o cpf" class="form-control" required>    
                <label>Status do pedido:</label>
                <input type="text" name="status" id="status" value="<%= pedido.status%>"  placeholder="Insira o status" class="form-control" required>                       
                <br>
                <input type="hidden" name="id" value="<%= pedido.id %>">
                <input type="submit" class="btn btn-warning" value="Alterar" onclick="return confirm('Confirma as alterações?')">
            </form>
            <hr>
        </div>
    </div>
</div>
<br>

<%- include ('partials/footer.ejs')%>