<%- include ('partials/navbar.ejs')%>
<%- include ('partials/header.ejs')%>

<div class="container">
  <div class="card">
      <div class="card-header">
          <h1>Cadastrar Produtos</h1>
      </div>
      <div class="card-body">
          <form method="POST" action="/produtos/new">
              <label>Brinquedo escolhido:</label>
              <input type="text" name="nome" id="nome" placeholder="Insira o nome do produto" class="form-control" required>
              <label>Valor do produto:</label>
              <input type="text" name="preco" id="preco" placeholder="Insira o valor do produto" class="form-control" required>
              <label>Nome do distribuidor:</label>
              <input type="text" name="distrib" id="distrib" placeholder="Insira o nome do distribuidor" class="form-control" required>                                                      
              <br>
              <button class="btn btn-success">Cadastrar</button>
          </form>
      </div>
</div>
    <h1 class="listaproduto">Conheça nossos produtos: </h1>
    <table>
      <tr>
          <td><img style="width: 150px; height: 150px;" src="imgs/brinquedo1.jpg"></td>
          <td><img style="width: 150px; height: 150px;" src="imgs/brinquedo2.jpg"></td>
          <td><img style="width: 150px; height: 150px;" src="imgs/brinquedo3.jpeg"></td>
          <td><img style="width: 150px; height: 150px;" src="imgs/brinquedo4.jpg"></td>
      </tr> 
    </table>
    <table>
      <thead>
          <tr>
              <th></th>
              <th>Brinquedo:</th>
              <th>Valor:</th>
              <th>Distribuidor:</th>
              <th style="text-align: center;" colspan="2">Ações:</th>
          </tr>
      </thead>
      <tbody>
        <% produtos.forEach((produto) => { %>
          <tr>
              <th></th>
              <td><%= produto.nome %></td>
              <td><%= produto.preco%></td>
              <td><%= produto.distrib%></td>
              <td><a style="color:orange;" href="/produtos/edit/<%= produto.id%>">Editar</a></td>
              <td><a style="color:red;" href="/produtos/delete/<%= produto.id%>">Excluir</a></td>     
          </tr>
          <%})%>
  </tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  <%- include ('partials/footer.ejs')%>