<%- include ('partials/navbar.ejs')%>
<%- include ('partials/header.ejs')%>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Alterar Produto</h1>
            <hr>
            <form method="POST" action="/produtos/update/<%=produto.id%>">
                <label>Nome do produto:</label>
                <input type="text" name="nome" id="nome" value="<%= produto.nome%>" placeholder="Insira o nome" class="form-control" required>
                <label>Preço do Pedido:</label>
                <input type="text" name="preco" id="preco" value="<%= produto.preco%>"  placeholder="Insira o preço" class="form-control" required>
                <label>Cpf do pedido:</label>
                <input type="text" name="distrib" id="distrib" value="<%= produto.distrib%>"  placeholder="Insira o distribuidor" class="form-control" required>                      
                <br>
                <input type="hidden" name="id" value="<%= produto.id %>">
                <input type="submit" class="btn btn-warning" value="Alterar" onclick="return confirm('Confirma as alterações?')">
            </form>
            <hr>
        </div>
    </div>
</div>
<br>

<%- include ('partials/footer.ejs')%>